@use "../../sass/abstracts/variables" as var;
@use "../../sass/abstracts/mixins" as mix;
@use "../../sass/abstracts/functions" as fn;

.navbar {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 10000;
  background: linear-gradient(var.$black, transparent);

  .navbar-container {
    width: 100%;
    height: auto;
    position: relative;
    padding: fn.getSpacing(md) fn.getSpacing(xl);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mix.respond(xl) {
      padding: fn.getSpacing(md) fn.getSpacing(lg);
    }

    @include mix.respond(lg) {
      grid-template-columns: repeat(2, 1fr);

      .navbar-center {
        justify-content: flex-end;
      }

      .navbar-right {
        display: none;
      }
    }

    @include mix.respond(sm) {
      grid-template-columns: repeat(1, 1fr);

      .navbar-center {
        display: none;
      }
    }

  }
}