@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;
@use "../../sass/abstracts/functions" as *;

.navbar {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 10000;
  background: linear-gradient($black, transparent);

  .navbar-container {
    width: 100%;
    height: auto;
    position: relative;
    padding: getSpacing(md) getSpacing(xl);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .navbar-left {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .bluestate-logo {
        width: 150px;
        height: auto;
      }

      p {
        color: $primary;
        font-weight: 700;
      }
    }

    .navbar-centre {
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
    }

    .navbar-right {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .navbar-listen {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        gap: getSpacing(sm);

        .navbar-listen-text {
          width: auto;
          height: auto;
          font-size: 16px;
        }

        .navbar-listen-icon {
          width: 28px;
          height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: opacity 0.3s ease;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}