// RESUABLE FUNCTIONS

@use "../abstracts/variables" as *;

// TO CENTER ANYTHING INSIDE CONTAINER
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flex-end-center {
  display: flex;
  justify-content: end;
  align-items: center;
}

@mixin flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-coloumn-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-coloumn-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

// TO GIVE FULL WIDTH BUT AUTO HEIGHT
@mixin full-auto {
  width: 100%;
  height: auto;
}

@mixin auto-full {
  width: auto;
  height: 100%;
}

@mixin half-full {
  width: 50%;
  height: 100%;
}

@mixin full-half {
  width: 100%;
  height: 50%;
}

// _breakpoints.scss



@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint '#{$breakpoint}' does not exist.";
  }
}