@use "../../../../../sass/abstracts/variables" as var;
@use "../../../../../sass/abstracts/mixins" as mix;
@use "../../../../../sass/abstracts/functions" as fn;

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: fn.getSpacing(xl);

    .hero-top {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: fn.getSpacing(md);

        .hero-text {
            width: 100%;
            height: auto;
            font-size: 6rem;
            font-family: var.$font-main;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: .8;

            #hero-artist-text {
                color: var.$primary;
            }
        }

        .hero-sub-text {
            width: 100%;
            height: auto;
            text-align: center;
            color: var.$primary;
            text-decoration: underline;
        }
    }

    .hero-top-2 {
        display: none;
    }

    .hero-bottom {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;



        .hero-photo-grid {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            column-gap: fn.getSpacing(md);

            .hero-photo {
                width: 100%;
                height: auto;
                background-color: red;
            }
        }
    }

    @include mix.respond(xl) {
        height: auto;
        padding: 10rem fn.getSpacing(lg);

        .hero-bottom {
            .hero-photo-grid {
                gap: fn.getSpacing(md);
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }

    @include mix.respond(lg) {
        .hero-top {
            .hero-text {
                font-size: 5rem;
            }

            .hero-sub-text {
                font-size: 14px;
            }
        }
    }

    @include mix.respond(md) {
        padding: 8rem fn.getSpacing(lg);

        .hero-top {
            .hero-text {
                font-size: 3rem;
            }

            .hero-sub-text {
                font-size: 12px;
            }
        }

        .hero-bottom {
            .hero-photo-grid {
                gap: fn.getSpacing(md);
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    @include mix.respond(sm) {
        padding: 8rem fn.getSpacing(lg) 6rem;

        .hero-top {
            display: none;
        }

        .hero-bottom {
            display: none;
        }

        .hero-top-2 {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: fn.getSpacing(md);

            .hero-text-2 {
                width: 100%;
                height: auto;
                font-size: 2rem;
                font-family: var.$font-main;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                line-height: .8;

                #hero-artist-text {
                    color: var.$primary;
                }
            }

            .hero-sub-text-2 {
                width: 100%;
                height: auto;
                text-align: center;
                color: var.$primary;
                text-decoration: underline;
                font-size: 12px;
            }
        }
    }
}