@media (max-width: 1200px) {
  .home {
    row-gap: getSpacing(md);

    .home-heading {
      padding: getSpacing(xl) getSpacing(lg) 0;
      row-gap: getSpacing(sm);
    }

    .home-content-container {
      .hcc-heading {
        padding: 0 getSpacing(lg);
        row-gap: getSpacing(xs);

        .hcc-top {
          font-family: $font-bold;
          font-size: 1.5rem;
        }

        .hcc-bottom {
          font-size: 1rem;
          color: $fg-secondary;
        }
      }

      // NEW SECTION
      .tc-new {
        padding: 0 getSpacing(lg);

        .tc-card {
          &:hover {
            .tc-card-image {
              border: 2px solid rgba($color: #fff, $alpha: 0.1);
            }
          }
        }
      }

      // NEW LATEST
      .tc-latest {
        padding: 0 getSpacing(lg);

        .tc-latest-container {
          display: flex;
          overflow-x: scroll;

          .tc-latest-wrapper {
            min-width: 380px;
          }
        }
      }

      // SORTED BY GENRE
      .tc-pop {
        .tc-pop-heading {
          padding: 0 getSpacing(lg);
        }

        .tc-pop-container {
          padding: 0 getSpacing(lg);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .home-heading {
      padding: getSpacing(xl) getSpacing(md) 0;
      row-gap: getSpacing(sm);

      p {
        font-size: 2rem;
      }
    }

    .home-content-container {
      .hcc-heading {
        padding: 0 getSpacing(md);
      }

      // NEW SECTION
      .tc-new {
        padding: 0 getSpacing(md);
        padding-bottom: getSpacing(lg);
        column-gap: getSpacing(md);

        .tc-card {
          min-width: 260px;
          width: 260px;

          &:hover {
            .tc-card-image {
              img {
                transform: scale(1);
              }
            }
          }

          &:hover {
            .tc-card-image {
              border: none;
            }
          }

          .tc-card-image {
            border: none;
            height: 260px;
          }
        }
      }

      // NEW LATEST
      .tc-latest {
        padding: 0;

        .tc-latest-heading {
          width: 100%;
          height: auto;
          font-size: 1.5em;
          font-family: $font-bold;
          padding: 0 getSpacing(md);
        }

        .tc-latest-container {
          display: flex;
          overflow-x: scroll;
          column-gap: getSpacing(md);
          padding: 0 getSpacing(md);

          .tc-latest-wrapper {
            min-width: calc(100vw - (getSpacing(md) * 4));
            gap: getSpacing(md);

            .tc-latest-beat {
              gap: getSpacing(md);

              &:hover {
                .tc-latest-beat-image {
                  border: 1px solid rgba($color: #fff, $alpha: 0.1);
                }

                .tc-latest-beat-info {
                  .tc-latest-wrapper-beat-divider {
                    background: $bg-border;
                  }
                }
              }
            }
          }
        }
      }

      // SORTED BY GENRE
      .tc-pop {
        margin-top: getSpacing(lg);
        gap: getSpacing(md);

        .tc-pop-heading {
          padding: 0 getSpacing(md);
          font-size: 1.5rem;
        }

        .tc-pop-container {
          padding: 0 getSpacing(md);

          .beat-card {
            width: 100%;
            gap: getSpacing(sm);

            &:hover {
              .beat-card-image {
                transform: scale(1);
                border: 1px solid rgba($color: #fff, $alpha: 0.1);
              }
            }

            .beat-card-image {
              aspect-ratio: 1 / 1;
              height: auto;
            }
          }
        }
      }
    }
  }
}
