@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;
@use "../../sass/abstracts/functions" as *;

.footer {
    width: 100vw;
    height: auto;
    // background-color: $bg-secondary;
    border-top: 1px solid $bg-border;
    margin-top: 6rem;

    .footer-container {
        width: 100%;
        height: auto;
        padding: getSpacing(xl);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: getSpacing(xxl);

        .footer-message {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 32px;

            #email-link {
                text-decoration: underline;
            }
        }
        
        .footer-bottom {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: getSpacing(xs);

            .footer-copyright {
                width: auto;
                height: auto;
                font-size: getSpacing(sm);
                color: $fg-secondary;
            }

            .footer-links {
                width: auto;
                height: auto;
                font-size: 12px;

                a {
                    text-decoration: underline;
                    color: $fg-primary;

                    &:hover {
                        font-style: italic;
                        color: $primary;
                    }
                }
            }
        }

    }
}