@use "../../sass/abstracts/variables" as var;
@use "../../sass/abstracts/mixins" as mix;
@use "../../sass/abstracts/functions" as fn;

.footer {
    width: 100vw;
    height: auto;
    margin-top: 280px;
    display: flex;
    flex-direction: column;
    row-gap: fn.getSpacing(xxl);

    @include mix.respond(sm) {
        row-gap: fn.getSpacing(lg);
        margin-top: 128px;
    }

    .footer-top {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: fn.getSpacing(md);

        .footer-top-text {
            font-size: 2rem;
            font-family: var.$font-main;
            text-transform: uppercase;
        }

        .footer-top-image {
            width: 100%;
            height: 240px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        @include mix.respond(sm) {
            .footer-top-text {
                font-size: 14px;
            }

            .footer-top-image {
                height: 96px;
            }
        }
    }

    .footer-center {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: fn.getSpacing(sm);

        .footer-center-top {
            font-size: 2rem;
            font-family: var.$font-main;
            text-transform: uppercase;
        }

        .footer-center-artist {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            color: var.$primary;
        }

        .footer-center-bottom {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: fn.getSpacing(sm);

            .footer-form {
                width: 40%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: fn.getSpacing(sm);

                input {
                    width: 100%;
                    padding: 12px 20px;
                    outline: none;
                    color: var.$white;
                    border: 1px solid var.$dark2;
                    background-color: transparent;

                    ::-ms-input-placeholder {
                        color: var.$white;
                    }

                    ::-webkit-input-placeholder {
                        color: var.$white;
                    }
                }

                button {
                    padding: 12px 20px;
                    outline: none;
                    border: 1px solid var.$dark2;
                    background-color: var.$dark2;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: var.$white;
                    font-family: "Mona Sans", sans-serif;
                }
            }
        }

        @include mix.respond(sm) {
            padding: fn.getSpacing(md);
            gap: fn.getSpacing(xs);

            .footer-center-top,
            .footer-center-artist {
                font-size: 14px;
            }

            .footer-center-bottom {
                .footer-form {
                    width: 100%;
                }
            }
        }
    }

    .footer-bottom {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: fn.getSpacing(md);
        padding: 0 4rem 1rem;

        @include mix.respond(xl) {
            padding: 0 2rem 1rem;
        }

        @include mix.respond(sm) {
            padding: fn.getSpacing(md);
        }

        .footer-bottom-divider {
            width: 100%;
            height: 1px;
            background-color: var.$dark2;
        }

        .footer-bottom-text-container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;

            .footer-bottom-text {
                color: var.$grey;
                font-size: 12px;

                a {
                    color: var.$primary;
                }

                @include mix.respond(sm) {
                    font-size: 10px;
                }
            }
        }
    }
}