@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;
@use "../../sass/abstracts/functions" as *;

.footer {
    width: 100vw;
    height: auto;
    margin-top: 280px;
    display: flex;
    flex-direction: column;
    row-gap: getSpacing(xxl);

    .footer-top {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: getSpacing(md);

        .footer-top-text {
            font-size: 2rem;
            font-family: $font-main;
            text-transform: uppercase;
        }

        .footer-top-image {
            width: 100%;
            height: 240px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .footer-center {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: getSpacing(sm);

        .footer-center-top {
            font-size: 2rem;
            font-family: $font-main;
            text-transform: uppercase;
        }

        .footer-center-artist {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $primary;
        }

        .footer-center-bottom {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: getSpacing(sm);

            .footer-form {
                width: 40%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: getSpacing(sm);

                input {
                    width: 100%;
                    padding: 12px 20px;
                    outline: none;
                    color: $white;
                    border: 1px solid $dark2;
                    background-color: transparent;

                    ::-ms-input-placeholder {
                        color: $white;
                    }

                    ::-webkit-input-placeholder {
                        color: $white;
                    }
                }

                button {
                    padding: 12px 20px;
                    outline: none;
                    border: 1px solid $dark2;
                    background-color: $dark2;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: $white;
                    font-family: "Mona Sans", sans-serif;
                }
            }
        }
    }

    .footer-bottom {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: getSpacing(md);
        padding: 0 4rem 1rem;

        .footer-bottom-divider {
            width: 100%;
            height: 1px;
            background-color: $dark2;
        }

        .footer-bottom-text-container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;

            .footer-bottom-text {
                color: $grey;
                font-size: 12px;

                a {
                    color: $primary;
                }
            }
        }
    }
}