@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as mix;
@use "../../sass/abstracts/functions" as *;

.tc-pop {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 getSpacing(xl);

  @include mix.respond(xl) {
    padding: 0 getSpacing(md);
  }

  .tc-pop-container {
    width: 100%;
    height: auto;

    &.tc-pop-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;

      @include mix.respond(lg) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mix.respond(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mix.respond(sm) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &.tc-pop-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}