// ALL FONT STYLES & TEXT FORMATTING

@font-face {
  font-family: "REGULAR";
  src: url("../../assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BOLD";
  src: url("../../assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aventa Regular";
  src: url("../../assets/fonts/aventa-font-family/Aventa-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aventa Bold";
  src: url("../../assets/fonts/aventa-font-family/Aventa-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aventa Variable";
  src: url("../../assets/fonts/aventa-font-family/AventaVariable.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $font-main;
  font-weight: 500;
}

.sm-text {
  font-size: rem(12);
  color: $fg-secondary;
}

.real-link {
  color: $fg-secondary;
  text-decoration: none;
}

.real-link-u {
  color: $fg-secondary;
  text-decoration: underline;
}

.logo {
  font-style: italic;
}
